/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* cont is short for container */
/* sect is short for section */
:root {
    --header-cont-background: #add8e6;
    --header-background: #daa520;
    --main-firstsect-cont-background: #00008b;
    --main-firstsect-background: #ee82ee;
    --main-cont-background: #d3d3d3;
    --main-middlesect-background-blue: #1e90ff;
    --main-middlesect-background-pink: #ffc0cb;
    --main-finalsect-background: #228b22;
    --footer-cont-background: #23272a;
    --footer-sect1-background-salmon: #f08080;
    --footer-sect1-background-teal: #20b2aa;
    --footer-sect2-background: #7fffd4;
    --footer-sect2-object: #feb5c0;
}

/* #endregion common */

/* #region debug */
.debug * {
    border: 1px dashed;
}

.debug header {
    background-color: var(--header-cont-background);

    div {
        background-color: var(--header-background);
    }
}

/* #endregion debug */

/* #region header */
header {
    display: flex;
    justify-content: center;
    align-items: center;

    div{
        margin: 2rem 0rem;
        padding: 0.2rem 10rem;
    }
}

a {
    margin: 0rem 0.5rem;
}

.logo {
    padding-left: 0.5rem;
}

.login {
    padding-right: 0.5rem;
}

/* #endregion header */

/* #region main */
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/* #region first section */
.sect1 {
    background-color: var(--main-firstsect-cont-background);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;

    div {
        background-color: var(--main-firstsect-background);
        width: 60%;
        height: 70%;
    }
}

/* #endregion first section */

/* #region middle sections */

.sect2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;

    div {
        background-color: var(--main-middlesect-background-blue);
        width: 50%;
        height: 70%;
    }

    :last-child {
        background-color: var(--main-middlesect-background-pink);
        width: 30%;
    }
}

.sect3 {
    background-color: var(--main-cont-background);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;

    div {
        background-color: var(--main-middlesect-background-pink);
        width: 30%;
        height: 70%;
    }

    :last-child {
        background-color: var(--main-middlesect-background-blue);
        width: 50%;
    }
}


.sect4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;

    div {
        background-color: var(--main-middlesect-background-blue);
        width: 50%;
        height: 70%;
    }

    :last-child {
        background-color: var(--main-middlesect-background-pink);
        width: 30%;
    }
}

/* #endregion middle sections */

/* #region final section */
.sect5 {
    background-color: var(--main-cont-background);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1000px;
    
    div {
        background-color: var(--main-finalsect-background);
        width: 80%;
        height: 70%;
    }
}

/* #endregion final section */

/* #endregion main */

/* #region footer */

/* #region footer section 1 */
.foot1 {
    background-color: var(--footer-cont-background);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;

    div {
        background-color: var(--footer-sect1-background-teal);
        width: 13%;
        height: 70%;
    }

    :first-child {
        background-color: var(--footer-sect1-background-salmon);
        width: 27.5%;
    }
}

/* #endregion footer section 1 */

/* #region footer section 2 */
.foot2 {
    background-color: var(--footer-cont-background);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
    margin: 1px 0px;

    div {
        display: flex;
        justify-content: space-between;
        background-color: var(--footer-sect2-background);
        width: 80%;
        padding: 0.5rem 0rem;

        span {
            background-color: var(--footer-sect2-object);
        }

        button {
            background-color: var(--footer-sect2-object);
        }
    }
}

/* #endregion footer section 2 */

/* #endregion footer */